* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
}

/*Navigation*/

/*Section [Hero]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Section [name]*/

/*Footer*/

/*Responsive*/
